h1, h2, h3 {
    margin: 50;
    text-align: justify;
    color: white;
    font-family: "Beleren Bold";
    font-weight: normal;
}
.nomecarta{
    margin: 50;
    text-align: justify;
    color: white;
    font-family: "Beleren Bold";
    font-weight: normal;
}
p {
    color: white;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 2ch;
}
.navbar-brand {
    color: white;
    font-family: "Beleren Bold";
    text-align: justify;
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    
}
nav ul {
    font-family: "Beleren Bold";
    text-align: justify;
    list-style: none;
    text-decoration: none;
    padding: 0;
}
header {
    background-image: url('Imagens/foto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;
    height: 910px;
    margin-bottom: 0;
    background-size: 100% 100%;
}
.primeiropag {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
body{
    background-color: #000000;
}
.titulocards {
    text-align: center;
}
#conhecimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;
    height: 910px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.media-object img-responsive img-thumbnail {
    max-width:200px;
    max-height:100px;
    width: auto;
    height: auto;
}
#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;
    height: 910px;
    margin-bottom: 0;
}
footer {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 100px;
    color: white;
    text-align: center;
    background-color: #222;
    padding-left: 650px;
    padding-right: 650px;
    width: 2000px;
}
.lore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 700px;
}
#cartinhas {
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;
    height: 910px;
    margin-bottom: 0;
}